DB_USER=usuario
DB_PASSWORD=senha
DB_NAME=nome_banco

DATABASE_URL=postgresql://usuario:senha@host:5432/nome_banco
SECRET_KEY=sua_chave_secreta_aqui
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
ENVIRONMENT=development

# Admin Credentials
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin
